
.articles {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 1.5rem;
	padding: 1rem;
}
.main-nav {
    list-style: none;
    padding: 0;
}
.main-nav li {
    padding: 8px;
}
.main-nav a {
     color: black;
    text-decoration: none;
    text-align: center;
}
   

.book {
	border: 1px solid #ddd;
	padding: 1rem;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.1);
	background: #fff;
	text-align: center;
}

.book img {
	max-width: 100%;
	height: auto;
	border-radius: 6px;
}

.stars {
	font-size: 1.2rem;
	color: goldenrod;
}
