body {
    margin: 0;
    padding: 0;
    background-color: #e9edf2;
    font-family: Arial, Helvetica, sans-serif;
}
body.dark {
  background-color: #333;
  color: white;
}

/* Subtitle */
body.dark h2 {
  color: #4da3ff; /* accessible blue */
}

/* Logo change handled by JS */

.mission-box {
    max-width: 800px;
    background: white;
    margin: 40px auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    text-align: center;
}

.logo {
    width: 200px;
    margin-bottom: 20px;
}

h1 {
    color: #003366;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    color: lightblue;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    text-align: left;
    line-height: 1.6;
    font-size: 16px;
    color: #333;
}

ul {
    text-align: left;
    line-height: 1.8;
    margin-top: 20px;
}

li {
    margin-bottom: 10px;
}
