

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", Arial, sans-serif;
}

header {
  background-color: #222;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-btn {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
}

nav {
  display: none;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 0.5rem;
}

main {
  padding: 0.5rem;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
}

img {
  width: 400px;
  height: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
  gap: 0;
}

footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 1rem;
}

@media (min-width: 700px) {
  nav {
    display: block;
  }

  .menu-btn {
    display: none;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}


          
          